name: Update

on:
    pull_request:
    workflow_dispatch:
 
concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    Deploy:
        uses: ./.github/workflows/deploy.yml
        with:
            channel: 'latest'